:host {
  width: 100%;
}

.page-container {
  width: 100%;
  height: calc(100% - 40px);
  background-color: white;
  padding: 1rem;
}
.mat-icon{
  vertical-align: middle;
}

.table-container {
  table {
    width: 100%;
  }

  &__header {
    display: flex;
  }

  &__header-label {
    flex-grow: 1;
  }

  &__header-filter {
    flex-grow: 1;
    text-align: end;
    margin-bottom: 0.5rem;
  }
}

.mat-column-workflowDesc {
  width: 50%;
}
