<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://deliverychannel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3df4419e-c2d4-416e-b59f-b003b7ff0257/resourcegroups/luup.Sample.Demo/providers/Microsoft.Web/sites/DeliveryChannel</ResourceId>
    <UserName>$DeliveryChannel</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://deliverychannel.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>